<div class="container mt-4">
  <h1 class="display-4">Places</h1>

  <a href="/places/new" class="btn btn-success">New Place</a>

  <p></p>

<ul class = "list-unstyled">
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>